body {
    margin: 0;
    background-color: silver;
}


main {
    display: flex;
    flex-wrap: wrap;
}



.profile {
    background-color: rgb(99, 129, 129);
    margin: 10px;
    border-radius: 5px;
}